@import '@/scss/abstracts/_variables.scss';

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    color: $primary-color-test;
}

.test {
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $primary-color-test;
    font-size: 36px;
}

.imageTest {
    width: 100px;
    height: 100px;
}
