@import '@/scss/abstracts/_variables.scss';

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    color: $primary-color-test;
}

.test {
    color: $primary-color-test;
    font-size: 36px;
}
